<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Instructor name:</strong>
    <%= course.instructor_name %>
  </p>

  <p>
    <strong>Weekdayone:</strong>
    <%= course.weekdayone %>
  </p>

  <p>
    <strong>Weekdaytwo:</strong>
    <%= course.weekdaytwo %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Course code:</strong>
    <%= course.course_code %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Waitlist capacity:</strong>
    <%= course.waitlist_capacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.room %>
  </p>

</div>
